.home-hero-content {
    padding-top: 8rem; /* adjust this value as needed */
    font-weight: 600;
    margin-left: 2rem;
  }
  
  @media (max-width: 768px) {
    .home-hero-content {
      padding-top: 5rem;
    }
  }
  .home-hero-heading {
    font-size: 4rem;       /* Desktop size */
    font-weight: 700;      /* Bold */
    line-height: 1.2;
  }
  
  @media (max-width: 768px) {
    .home-hero-heading {
      font-size: 2.5rem;   /* Smaller size for mobile */
      font-weight: 600;
    }
  }
  .homebut{
    margin-left: 2rem;
    margin-bottom: 5rem;
  }


  .homebutt{
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2re;
  }