/* General Section Styling */
.digital-section {
  padding: 100px 0;
  background: url('/public/bgimg.png');
  color: white;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* Container for left and right */
.content-container1 {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Left Text Content */
.left-container1 h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 20px;
}

.left-container1 p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-button {
  padding: 14px 28px;
  background-color: white;
  color: #0d47a1;
  border: none;
  font-weight: 600;
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: #f0f0f0;
}

/* Right Circular Content */
.right-container1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  flex-wrap: wrap;
  justify-content: center;
}

/* Circular Stat Container */
.circle-stat {
  position: relative;
  width: 200px;
  height: 200px;
}

/* Center Text */
.stat {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.stat h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: auto;
}

.stat p {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 600;
  padding: auto;
}

/* Circular Text Styles */
.circle-text-wrapper {
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto;
}

.circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 12s linear infinite;
  transform-origin: center;
}

.circle-text:hover {
  animation-play-state: paused;
}

.circle-text span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0 0;
  white-space: nowrap;
  font-size: 14px;
  letter-spacing: 80px;
  color: #5c92be;
}

/* Animation */
@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* WhatsApp Button + Callback Tag */
.request-callback {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-callback .tag {
  writing-mode: vertical-rl;
  background: linear-gradient(180deg, #210EAF, #4DC7E6);
  padding: 12px 8px;
  border-radius: 18px;
  font-size: 14px;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;
}

.request-callback img {
  width: 50px;
  height: 50px;
}