.contact-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/meeting-2284501_1280.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 0;
    
  }
  
  .contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 61, 182, 0.7);
  }
  
  .contact-container {
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 80px;
  }
  
  .contact-content {
    width: 40%;
    padding-right: 30px;
    padding-top: 20%;
  }
  
  .contact-content h1 {
    font-size: 3.5rem;
    margin: 10px 0 20px;
  }
  
  .contact-content h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  
  .contact-content p {
    font-size: 1.2rem;
    margin-top: 30px;
  }
  
  .contact-form {
    width: 55%;
    background-color: white;
    padding: 50px;
    border-radius: 8px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 25px;
    position: relative;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .half-width {
    width: 48%;
  }
  
  .underline-input, .underline-select {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 1rem;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .underline-input:focus, .underline-select:focus {
    border-bottom-color: #0077b6;
  }
  
  .underline-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: #777;
  }
  
  textarea.underline-input {
    resize: vertical;
    min-height: 60px;
  }
  
  .submit-btn {
    background-color: #2c47a3;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 1rem;
    border-radius: 70px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;
    margin-top: 20px;
  }
  
  .submit-btn:hover {
    background-color: #005b8c;
  }
  
  .error-message {
    color: #ff4444;
    font-size: 0.8rem;
    position: absolute;
    bottom: -18px;
    left: 0;
  }
  
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
    
    .contact-content,
    .contact-form {
      width: 100%;
      margin-bottom: 30px;
    }
    
    .form-row {
      flex-direction: column;
    }
    
    .half-width {
      width: 100%;
    }
  }

  